<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XML to Map</title>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/less/main.less" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script type="text/javascript" defer src="~/lib/bootstrap/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=APIKEY"></script>
    <script type="text/javascript" src="/lib/markerclusterer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js" integrity="sha256-ufGElb3TnOtzl5E4c/qQnZFGP+FYEZj5kbSEdJNrw0A=" crossorigin="anonymous"></script>
</body>
</html>

<script>
    $(function () {
        new Vue({
            el: "#map-outer",
            data: {
                startedMap: false,
                finishedMap: false,
                recordCount: 0,
                list: []
            },
            methods: {
                drawMap: function () {
                    var $this = this;
                    $this.startedMap = true;

                    $.get("/api/Map/", function (response) {
                        var location = response.Location;

                        initMap(location);

                        $this.list.push(location);
                        $this.recordCount = location.length;

                        $this.startedMap = false;
                        $this.finishedMap = true;
                    });
                }
            }
        });

        function initMap(locations) {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 6,
                //maxZoom: 9,
                streetViewControl: false,
                center: { lat: 53.8063197, lng: -1.6422472 } // Middle of UK
            });

            var markers = locations.map(function (location, i) {
                var labels = location.Name;

                return new google.maps.Marker({
                    position: { lat: location.Latitude, lng: location.Longitude },
                    label: labels
                });
            });

            var markerCluster = new MarkerClusterer(map, markers, { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
        }
    });
</script>